.App{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2rem;
}

.TopHeader{
  width: calc(95%);
  
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}

.ToolBar{
  
  width: 33.333333%;
  
  display: flex;
  gap: 1.45rem;
  align-items: center;
}

.WebsiteLogo{
  
  width: 33.333333%;

  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

.ConnectWallet{
  
  width: 33.333333%;

  display: flex;
  justify-content: end;
  align-items: center;
}

.Donate{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.banner-text{
  font-size: 1.15rem;
  text-align: center;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 1rem; 
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  
}

.TipForm{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  
}

input{
  margin-top: 0.5rem;
}

textarea{
  margin-top: 0.5rem;
  min-width: 30vw;
}

.CoffeeBtnList{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.CoffeeBtn{
  font-size: large;
  cursor: pointer;
}

.Memos{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-top: 1rem;
}

.Memo{
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  padding: 0.5rem;
  
}




.px-4{
  padding: 0 1rem;
}

.h-9{
  height: 2.5rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.border {
  border-width: 1px;
}

.text-white {
  color: rgb(255, 255, 255);
}


.bg-black {
  background-color: rgb(0, 0, 0);
}

.text-base {
  font-size: 1.1rem;
}

.text-base-2 {
  font-size: 1.2rem;
}

.font-medium {
  font-weight: 500;
}

.cursor-pointer {
  cursor: pointer;
}

.text-center{
  text-align: center;
}

.textNavBtn{
  text-decoration:none;
  color: black;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
}

.textNavBtn:visited{
  text-decoration:none;
  color: black;
}

.textNavBtn:hover{
  text-decoration:line-through;
  color: black;
}

.router-link-active{
  text-decoration:line-through;
}


.Home{
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.Home img{
  width: 77%;
}

.Home h1{
  text-align: center;
}